* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

span {
    color: lightseagreen;
}
.n-link:hover{
    text-decoration:#7e22ce 2px overline;
    position: relative;
    top: 1px !important;
    color: #7e22ce !important;
}
header {
    height: 70px;
}

header a {
    transition: all .5s;
}

header a:hover {
    transform: scale(1.1);
}

.home-img {
    background: url("images/home.jpg") no-repeat center center/cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    width: 679px;
    height: 312px;
    opacity: .8;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 100px;
    animation: for-item 1.5s ease-in 1s 1 alternate forwards;
    position: relative;
    top: -455px;
}
@keyframes for-item {
    from{
        top: -455px;
    }
    to{
        top: 0px;
    }
}
.home-img p {
    font-weight: bold;
    color: darkgray;
}
#pricing {
    padding: 3.5% 0;
}

.content {
    padding: 20px;
    margin: 20px 5px;
}

.icon-style {
    background-color: #bb0aac;
    color: white;
    padding: 15px;
}

/* about-me */
#about-me {
    padding: 6% 10%;
    background-color: #e8ded2;
}

.hr-style {
    border-top: 5px dotted white;
    width: 80px;
}

#tutorials {
    padding: 6% 10%;
    background-color: #a3d2ca;
}

.t-card {
    border: none;
    transition: all .2s;
}

.t-card:hover {
    transform: scale(1.03);
    /* box-shadow: -8px 8px  rgb(10, 199, 199), -15px 15px  greenyellow !important; */
    box-shadow: -10px 10px 4px #424141c7 !important
}

.t-c-ti {
    background-color: rgba(0, 0, 0, 0.8);
}

#testimonial {
    padding: 5%;
    background-color: #5eaaa8;
}

.carousel-item {
    text-align: center;
    padding: 7% 15%;
    font-style: italic;
    font-size: 1.2rem;
}

.testi-img {
    width: 120px;
    height: auto;
    margin-bottom: 5px;
}

#contact {
    padding: 6% 10%;
    background-color: #5e95aa;
}

.s-search {
    border: 2px solid #7e22ce !important;
    background-color: #a9a9a982 !important;
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.s-search i {
    font-size: 18px;
}

.s-input,
.s-input:hover {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #7e22ce !important;
    background-color: #a9a9a982 !important;
    box-shadow: none !important;
    border-right: none !important;
}

/* responsive css */
@media screen and (max-width:767px) {
     header{
        border-bottom: 1px solid white;
    }
    .home-img {
        background: #216f5f;
        height: 350px;
    }

    .item {
        background: none;
        margin-top: 50px;
        animation: for-item 1s ease-in 0s 1 alternate forwards;
    }

    .logo-text {
        position: fixed;
        top: 10px;
    }

    .btn-outline-light {
        border-color: black;
        color: black;
    }

    .btn-outline-light:hover {
        border-color: rgba(0, 0, 0, 0.808);
        background-color: rgba(0, 0, 0, 0.808);
        color: white !important;
    }

    .n-link {
        background-color: #6cac08;
        border-radius: 10px;
        margin-bottom: 20px;
    }

   .n-link:hover {
        color: #7e22ce !important;
    }
}

@media screen and (max-width:387px) {
    .home-img {
        height: 450px;
    }

    .s-input {
        width: 150px !important;
    }

    footer {
        width: 206px;
        margin: auto;
    }

    footer ul {
        margin: auto;
    }
}

@media screen and (max-width:281px) {
    .f-b-button {
        margin-top: -10px !important;
    }

    .fc-button {
        margin-bottom: 10px;
    }
}
