@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bebas+Neue&family=Bungee+Spice&family=Dosis:wght@200&family=Gemunu+Libre:wght@300&family=Inconsolata:wght@400;500&family=Passions+Conflict&family=Roboto:wght@400;500;700;800;900&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --first-color: White;
    --second-color: #111827;
}
.dark-theme{
    --first-color: #111827;
    --second-color: white;
    --third-color: #1f2937;
}
.dark-mode {
    color: var(--second-color) !important;
}
body {
    background-color: var(--first-color);
    color: var(--second-color);
}
::-webkit-scrollbar{
    width: 1.1rem;
}
::-webkit-scrollbar-track{
    background-color: var(--third-color);
}
::-webkit-scrollbar-thumb{
    background-color:rgb(29, 173, 199);
    border-radius: 1rem;
    border: .2rem solid transparent;
    background-clip: content-box;
}

span {
    color: lightseagreen;
}

nav{
    background-color: var(--first-color);
    color: var(--second-color);
    border-bottom: 1px solid #6b7280;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    background: -webkit-linear-gradient(#00e0fe,#1107fe);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.n-link {
    color: #7e22ce !important;
}
.n-link:hover {
    text-decoration: #7e22ce 2px overline;
    position: relative;
    top: 1px !important;
    color: #7e22ce !important;
}
.dropdown-toggle::after{
    position: relative; 
    top: 3px;
    right: 1px;
    color: var(--second-color) !important;
}
.login-signup{
    position: relative;
    left: 10px;
}
.btn-forls{
    margin-right: -11px;
}
.fa-moon:before {
    margin-right: 5px;
}
.fa-sun:before {
    margin-right: 5px;
}
.fa-solid, .fas {
    margin-bottom: 0;
}
.web-theme:hover {
    background-color:#8787887a !important;
}
.web-theme:active {
  color: black;
}
.web-theme{
    padding: 3px 0px;
}

header {
    height: 70px;
}

header a {
    transition: all .5s;
}

header a:hover {
    transform: scale(1.1);
}

.home-img {
    background: url("images/home.jpg") no-repeat center center/cover;
    /* background: url("https://source.unsplash.com/random/?code") no-repeat center center/cover; */
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    width: 679px;
    height: 312px;
    /* margin-top: -160px; */
    opacity: .8;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 100px;
    animation: for-item 1.5s ease-in 1s 1 alternate forwards;
    position: relative;
    top: -455px;
}
@keyframes for-item {
    from{
        top: -455px;
    }
    to{
        top: 0px;
    }
}
#pricing {
    padding: 3.5% 0;
}
.card {
    background-color: var(--third-color);
    color: var(--second-color);
}

.given-shadow {
    box-shadow: 0 12px 50px rgba(0, 0, 0, 0.3);
}
.modal-content{
    background-color: var(--first-color);
    color: var(--second-color);
}
.modal-content button{
    border: none;
    background-color: var(--first-color);
    color: var(--second-color);
}
.home-img p {
    font-weight: bold;
    color: darkgray;
}

.content {
    padding: 20px;
    margin: 20px 5px;
}

.icon-style {
    background-color: #bb0aac;
    color: white;
    padding: 15px;
}

/* about-me */
#about-me {
    padding: 6% 10%;
    /* background-color: #e8ded2; */
}

.hr-style {
    border-top: 5px dotted var(--second-color);
    width: 80px;
}

#tutorials {
    padding: 6% 10%;
    /* background-color: #a3d2ca; */
}
.t-card {
    border: none;
    transition: all .2s;
}

.t-card:hover {
    transform: scale(1.03);
    /* box-shadow: -8px 8px  rgb(10, 199, 199), -15px 15px  greenyellow !important; */
    box-shadow: -10px 10px 4px #424141c7 !important
}

.t-c-ti {
/*     background-color: rgba(0, 0, 0, 0.8);
    background-color: var(--second-color);
    color: var(--first-color); */
     position: relative;
    z-index: 2;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 224, 254,0.7),rgba(17, 7, 254,0.7)); */
    background: linear-gradient(rgba(15, 15, 15, 0.753), rgba(238, 83, 44, 0.822));
    z-index: -1;
}

#reviews {
    padding: 5%;
/*     background-color: #585a5a; */
}
.section-intro {
    margin-bottom: 40px;
}

.titlex {
    display: flex;
    align-items: center;
}
.card-p {
    margin-top: -16px !important;
}

.star {
    color: orange;
}

.test-p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}

/* .carousel-item {
    text-align: center;
    padding: 7% 15%;
    font-style: italic;
    font-size: 1.2rem;
}
.testi-img {
    width: 120px;
    height: auto;
    margin-bottom: 5px;
} */

#contact {
    padding: 6% 10%;
    /* background-color: #5e95aa; */
}
.s-search {
    border: 2px solid #7e22ce !important;
    background-color: var(--first-color) !important;
    color: var(--second-color) !important;
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.s-search i {
    font-size: 18px;
}

.s-input,
.s-input:hover {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #7e22ce !important;
/*     background-color: #a9a9a982 !important; */
    background-color: var(--first-color) !important;
    box-shadow: none !important;
    border-right: none !important;
    color: var(--second-color) !important;
    font-weight: bold;
}
.btn-main{
    transition: all 0.3s ease;
     border-radius: 0 !important;
    /* border-radius: 100px; */
}
.btn-main:hover{
    transform: translateY(-5px);
    border-radius:100px !important;
}
/* responsive css */
@media screen and (max-width:767px) {
    nav {
        background-color: var(--third-color);
    }

    header {
        background-color: var(--third-color);
        color: var(--second-color);
    }
    .home-img {
        background: none;
        height: 350px;
    }
    .home-img p {
      color: var(--second-color);;
    }

    .item {
        background: none;
        margin-top: 50px;
        animation: for-item 1s ease-in 0s 1 alternate forwards;
    }

    .logo-text {
        position: fixed;
        top: 10px;
    }

    .btn-outline-light {
        border-color: rgb(143, 138, 138);
        color: rgb(143, 138, 138);
       
    }

    .btn-outline-light:hover {
        border-color: rgba(0, 0, 0, 0.808);
        background-color: rgba(0, 0, 0, 0.808);
        color: white !important;
    }
    .n-link {
        background-color: #6cac08;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .n-link:hover {
        color: #7e22ce !important;
    }
     footer {
        flex-direction: column; 
    }
    footer .timeNow{
        margin: 10px 0px;
    }
    footer .timeNow p{
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width:387px) {
    .home-img {
        height: 450px;
    }

    .s-input {
        width: 150px !important;
    }

  
}

@media screen and (max-width:281px) {
    .f-b-button {
        margin-top: -10px !important;
    }

    .fc-button {
        margin-bottom: 10px;
    }
}
